<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:400,700" rel="stylesheet">
    <%= stylesheet_link_tag :site %>
    <!-- <%= javascript_include_tag :all %> -->

    <!-- load everything the map uses on all pages to improve load times for the map -->
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.1/dc.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.1/dc.js"></script>
    <script type="text/javascript" src="/javascripts/d3-tip.js"></script>
    <script type="text/javascript" src="/javascripts/dc-tooltip.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.min.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js" async></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.1/awesomplete.min.css" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-26370633-5', 'auto');
      ga('send', 'pageview');
    </script>

    <meta property="og:title" content="Why everyone hates Uber">
    <meta property="og:description" content="It's not just the recent scandals. Uber's repeated misdealings have angered people the world over, and they're all here on one handy map.">
    <meta property="og:type" content="website">
    <meta property="og:article:publisher" content="https://www.facebook.com/SumOfUs-181924628560212/">
    <meta property="og:image" content="https://www.whyeveryonehatesuber.com/images/map-share.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="https://www.whyeveryonehatesuber.com">
    <meta name="twitter:site" content="@sumofus">
    <meta name="twitter:creator" content="@sumofus">
    <meta name="twitter:title" content="Why everyone hates Uber">
    <meta name="twitter:description" content="It's not just the recent scandals. Uber's repeated misdealings have angered people the world over. See them all here.">
    <meta name="twitter:image" content="https://www.whyeveryonehatesuber.com/images/map-share.png">

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
